@tailwind base;
@tailwind components;
@tailwind utilities;

/* 배경색 & 글자색 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 다크 모드 설정 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 전체 화면 맞춤 & 스크롤 방지 */
html, body {
  height: 100%;
  overflow: hidden;
}

/* 레이아웃 기본 설정 */
#root, main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 기본 폰트 설정 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 슬림한 스크롤바 공통 스타일 */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 모달 애니메이션 */
@layer utilities {
  @keyframes fadeInModal {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeInModal {
    animation: fadeInModal 0.3s ease-out forwards;
  }
}

@layer base {
  html, body {
    cursor: url("/images/cursor-default.png"), auto;
  }

  a,
  button,
  .cursor-pointer-custom {
    cursor: url("/images/cursor-pointer.png"), pointer;
  }
}
